# Clerk
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_bGVuaWVudC12ZXJ2ZXQtMzguY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_E0tm1CtPezAvweW7G03sUWpRr2dwF1cMLNVID48BvH

DATABASE_URL="postgres://84a2f3b5363e4a78ddca7d704c6f50873d2d50a930bc789152a7bf6d9fff44e1:sk_P60xStlE3rf0BMHGE0_xz@db.prisma.io:5432/postgres?sslmode=require"